/* Zero results style */
#ERA_RC {
	width:190px;
}


.zeroHtmlResultsLink
{
	cursor:hand;
}

.zeroHtmlResultsLink img
{
	border: none;
}

/* Main related links container. */
.eraLinksContainer
{
	padding:0;
	margin: 0;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	background: #E2E2E2;

}

/* Related Microsites container. */
div.eraRelatedMicrosites,div.eraMoreRelatedMicrosites
{
	display:block;
	padding:0;
	margin: 0;
	


}

.eraHeader, .eraeraHeader
{
	
}

.eraRelatedMicrosites .eraeraHeader
{
	padding: 5px 0 2px;
	font-weight: bold;
	display: none;
}

.eraRelatedContent, .eraRelatedContent, .eraRelatedNews
{

}

/* Styles for the organization sort */
.eraRelatedMicrosites .eraIndentedSiteName
{
	font-weight:bold;
	padding:0 5px 0 10px;
}

.eraRelatedMicrosites .eraIndentedLink
{
	padding:0 0 0 0;
}

.eraMoreRelatedMicrosites .eraIndentedLink
{
	padding:0 0 0 0;
	font-weight:bold;
}

.eraMoreRelatedMicrosites .eraIndentedSiteName
{
	padding:0 0 0 5px;
	font-weight:bold;
}

.eraMoreeraHeader
{
	font-weight:bold;
	font-size:12px;
	font-family:Tahoma;
	padding:5px;
	color:#0066CC;
	display:none;
}

/* HTML related links script helper classes */
#ERA_RC div.body
{
	font-size: 13px;
	margin: 0;
	padding: 0;
	font-family:Lucida Sans Unicode;
	background: #fff;
	
}

#ERA_RC div.a
{
	display: block;
	color: #404040;
	text-decoration: none;
	padding: 0 5px 4px 0;
	font-size: 13px;
}

#ERA_RC div.a:hover
{
	color: #404040;
	text-decoration: underline;
}

#ERA_RC div.b
{
	font-weight: normal;
}

#relatedLinksScroll .eraLinksContainer
{
	overflow: hidden;
}

#relatedLinksHeaderWrapper
{
	background: url(../images/era-logo.gif) no-repeat 1px 5px #cccccc;
	height: 25px;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	font-family:Lucida Sans Unicode;
	padding: 5px 5px 0px 10px;
}

#relatedLinksFooterWrapper
{
	
	border-top: 2px solid #cccccc;
}

#relatedLinksScroll #eraLinksScrollUp, #relatedLinksScroll #eraLinksScrollDown
{
	display: none;
}

#relatedLinksDrop #eraLinksScrollUp, #relatedLinksDrop #eraLinksScrollDown
{
	display: none;
}

.eraRelatedMicrosites {
	padding:0px;
	font-family:Lucida Sans Unicode;
	color:#404040;
	line-height:0.9em;
}

.eraRelatedMicrosites div, .eraMoreRelatedMicrosites div {
	background:none;
	padding:2px 5px 5px 5px;
	margin:0;
	border-top:0;
	border-bottom:1px solid #C0C0C0;
	
}

.eraRelatedMicrosites div A , .eraMoreRelatedMicrosites div A {
	padding:0 0px 0 0px;
	text-decoration: none;
	font-family:Lucida Sans Unicode;
	font-size:12px;
	color:#404040;
	
}

div.eraMoreRelatedLinks {
	padding:5px 0 4px 18px;
	margin: 0;
	line-height: 1em;
	font-family:Lucida Sans Unicode;
	font-size:12px;
	color:#404040;
		
}

div.eraMoreRelatedLinks A {
	color:#404040;
	font-weight:bold;
	font-family:Lucida Sans Unicode;
	font-size:12px;
	text-decoration:none;
}

.eraRelatedMicrosites div a strong,.eraRelatedMicrosites div A:hover strong {
	color: #404040;
	font-family:Lucida Sans Unicode;

}

.eraRelatedMicrosites div A:hover,div.eraMoreRelatedMicrosites A:hover, div.eraMoreRelatedLinks A:hover{
	text-decoration:none;
	color:#404040;
	font-family:Lucida Sans Unicode;
	font-size:12px;
	text-decoration:underline;
}

#col-3 div {
	margin:0;
	padding:1px 4px 5px 6px;
}